/node_modules
/public/hot
/public/storage
/public/app_storage
/storage/*.key
/storage/app/remain
/storage/app/information
/storage/app/information/*
storage/app/information/*
/storage/app/images
storage/app/images/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
note.txt
*.zip
